.header{
    width: 80vw;
    margin: 0 auto;
    height:7vh;
    display:grid;
    align-items: center;
    margin:0 auto;
    grid-column-gap:1vw;
    grid-template-columns: 0.25fr 0.5fr 1.5fr 1.5fr 0.3fr;
}

.headercomponent{
    text-align: right;
}
font{
    color:#054775;
    font-weight: bolder;
    font-size:1.3vw;
    transition: 1s;
}

font:hover {
   color: rgb(219, 0, 219);
}